{% extends 'base.html.twig' %}

{% if app.user %}
{% endif %}


{% if is_granted('ROLE_ADMIN') %}
{% endif %}

{% block main %}

	<h1>Liste des circuits Programmés</h1>
	
	<table class="table">
		<thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Nombre_Personnes</th>
                <th>Prix</th
            </tr>
  		</thead>
  		
    {%  for programmation in programmations %}
    
    	<tr>
    		<td>{{ programmation.id }}</td>
    		<td>{{ programmation.circuit.description }}</td>
    		<td>{{ programmation.nombrePersonnes }}</td>
    		<td>{{ programmation.prix }}</td>
    		<td>
                	<a href="{{ path('front_circuit_show', {id: programmation.id}) }}" class="btn btn-info" role="button" >détails</a>
            </td>
            <td>
                	<a href="{{ path('frontoffice_circuit_likes', {id: programmation.id}) }}" class="btn btn-success" role="button" >Like/Dislike</a>
            </td>
        </tr>
     {% else %}
            <tr>
                <td colspan="2">no programmated circuits found</td>
            </tr>
  		</tr>
  		
    {% endfor %}
     
    </table>
    
    {# {%  for programmation in programmations %}      Description des circuits programmés
    
    <h2>{{ programmation.circuit.description }}</h2>
    <div id="flip">Cliquez pour voir la description du ciruit:</div>
    <table class="table table-striped table-hover table-dark" id="panel">
      	<thead class="thead-light">
        <tr>
            <th>Numéro Etape</th>
            <th>Ville Etape</th>
            <th>Nombre Jours</th>
        </tr>
      	</thead>

      {%  for etape in programmation.circuit.etapes %}
      
          <tr>
            <td>{{ etape.numeroEtape }}</td>
            <td>{{ etape.villeEtape }}</td>
            <td>{{ etape.nombreJours }}</td>
          </tr>
      
      {% endfor %} {# etapes 
      
	</table>
	
	
    {% endfor %} #}
    
    {% if is_granted('ROLE_ADMIN') %}
    	<h3>Liste de tous les Circuits (Admin)</h3>
    	<table class="table">
		<thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Pays Depart</th>
                <th>Ville Depart</th>
                <th>Ville Arrivee</th>
                <th>Duree Circuit</th>
            </tr>
  		</thead>
  		
    {%  for circuit in circuits %}
    
    	<tr>
    		<td>{{ circuit.id }}</td>
    		<td>{{ circuit.description }}</td>
    		<td>{{ circuit.paysDepart }}</td>
    		<td>{{ circuit.villeDepart }}</td>
    		<td>{{ circuit.villeArrivee }}</td>
    		<td>{{ circuit.dureeCircuit }}</td>
        </tr>
     {% else %}
            <tr>
                <td colspan="2">no circuits found</td>
            </tr>
  		</tr>
  		
    {% endfor %}
     
    </table>
    {% endif %}
    
    	<p>Use <kbd>ctrl + u</kbd> to view source.</p>
   
    
    
{% endblock %}

{% block custompage_script %}
   
{% endblock %} {# custompage_scripts #}
